<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}">
</head>
<link rel="stylesheet" type="text/css" href="/assets/css/slick.min.css" th:href="@{/assets/css/slick.min.css}">
<link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css" th:href="@{/assets/css/slick-theme.css}">
<body>
<header th:replace="~{layout/layout :: header}">
</header>
    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators" >
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/banner_img_01.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success">Bienvenido a <b>TuCalzado</b></h1>
                                <h3 class="h2">Tu Destino para una Experiencia de Compra Sin Contratiempos</h3>
                                <p>
                                    Bienvenido a TuCalzado, tu destino principal para experimentar el futuro de las compras en línea.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/banner_img_02.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success">Tu destino para una experiencia de compra sin contratiempos</h1>
                                <p>
                                    ¡Descubre la emoción de encontrar lo que necesitas y más en TuCalzado!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/banner_img_03.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success">Descubre lo que te hace único</h1>
                                <h3 class="h2">Encuentra tu estilo con nosotros</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->
    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1 text-success"><strong>Categorías</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3 fila">
                <a th:href="@{/tienda(type=${'zapatos'})}">
                    <img src="./assets/img/category_img_01.jpg" class="rounded-circle img-fluid border">
                </a>
                <div class="text-center mt-3 mb-3">
                <a class="text-decoration-none" th:href="@{/tienda(type=${'zapatos'})}"  >
                    <i class="h5 text-success">Zapatos</i>
                </a>
                </div>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3 fila" >
                <a th:href="@{/tienda(type=${'zapatillas'})}">
                    <img src="./assets/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
                <div class="text-center mt-3 mb-3">
                    <a class="text-decoration-none" th:href="@{/tienda(type=${'zapatillas'})}"  >
                        <i class="h5 text-success">Zapatillas</i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3 fila">
                <a th:href="@{/tienda(type=${'sandalia'})}" >
                    <img src="./assets/img/category_img_04.jpg" class="rounded-circle img-fluid border">
                </a>
                <div class="text-center mt-3 mb-3">
                    <a class="text-decoration-none" th:href="@{/tienda(type=${'sandalia'})}"  >
                        <i class="h5 text-success">Sandalías</i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3 fila">
                <a th:href="@{/tienda(type=${'tacones'})}">
                    <img src="./assets/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
                <div class="text-center mt-3 mb-3">
                    <a class="text-decoration-none" th:href="@{/tienda(type=${'tacones'})}" >
                        <i class="h5 text-success">Tacones</i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3 fila">
                <a  th:href="@{/tienda(type=${'botas'})}">
                    <img src="./assets/img/category_img_05.jpg" class="rounded-circle img-fluid border"></a>
                <div class="text-center mt-3 mb-3">
                    <a class="text-decoration-none" th:href="@{/tienda(type=${'botas'})}" >
                        <i class="h5 text-success">Botas</i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3 fila">
                <a th:href="@{/tienda(type=${'pantuflas'})}">
                    <img src="./assets/img/category_img_06.jpg" class="rounded-circle img-fluid border"></a>
                <div class="text-center mt-3 mb-3">
                    <a class="text-decoration-none" th:href="@{/tienda(type=${'pantuflas'})}"  >
                        <i class="h5 text-success">Pantuflas</i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->
    <!-- Start Featured Product -->
<section id="related-products-section" class="bg-light">
    <div class="container  py-5">
        <div class="row text-center py-3">
            <div class="row  p-2 pb-3">
                <h1 class="h1 text-success" ><strong>Mejor Valorados</strong></h1>
            </div>
        </div>
        <div id="carousel-related-product" th:data-products="${shoes}">
            <div class="p-2 pb-3" th:each="shoe : ${shoes}">
                <div class="product-wap card rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img" th:src="${shoe.getImagePrimary}" alt="Imagen del producto">
                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-success text-white" href="#" th:onclick="addFavoriteProduct([[${shoe}]])"><i class="far fa-heart"></i></a></li>
                                <li><a class="btn btn-success text-white mt-2" th:href="@{/producto/{id}(id=${shoe.id})}"><i class="far fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <a class="h3 text-decoration-none" th:href="@{/producto/{id}(id=${shoe.id})}" th:text="${shoe.name}">Oupidatat non</a>
                        <ul class="w-100 list-unstyled d-flex justify-content-start mb-0">
                            <!-- Iterar sobre las tallas de zapatos -->
                            <th:block th:each="stock : ${shoe.shoeStocks}">
                                <li th:if="${stock.stock > 0}">
                                    <span th:text="${stock.size.shoeSize.size + '&nbsp;'}"></span>
                                </li>
                            </th:block>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                                <i class="fa fa-star" th:classappend="${shoe.rating >= 1} ? 'text-warning' : 'text-secondary'"></i>
                                <i class="fa fa-star" th:classappend="${shoe.rating >= 2} ? 'text-warning' : 'text-secondary'"></i>
                                <i class="fa fa-star" th:classappend="${shoe.rating >= 3} ? 'text-warning' : 'text-secondary'"></i>
                                <i class="fa fa-star" th:classappend="${shoe.rating >= 4} ? 'text-warning' : 'text-secondary'"></i>
                                <i class="fa fa-star" th:classappend="${shoe.rating >= 5} ? 'text-warning' : 'text-secondary'"></i>
                            </li>
                        </ul>
                        <p class="text-center mb-0" th:text="${#numbers.formatDecimal(shoe.price, 2, 'COMMA', 2, 'COMMA')} + ' €'"></p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
<!-- End Featured Product -->
    <!-- Start Footer -->
<footer th:replace="~{layout/layout :: footer}">
</footer>
<script th:src="@{/assets/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/assets/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/templatemo.js}"></script>
<script th:src="@{/assets/js/custom.js}"></script>
<script th:src="@{/assets/js/slick.min.js}"></script>
<script th:src="@{/assets/js/cartService.js}"></script>
<script th:src="@{/assets/js/products-favorite.js}"></script>
<!-- Agrega SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    window.onload = function() {
     Swal.fire({
         title: '¡Bienvenido a TuCalzado!',
         text: 'Por favor, ten en cuenta que TuCalzado es un proyecto de demostración y no representa una tienda de comercio electrónico real. Es parte de mi portafolio para mostrar habilidades en el desarrollo de aplicaciones web con tecnologías como Spring Boot y Thymeleaf. Al registrarte en la página, te registrarás directamente con el rol de administrador para que puedas ver todas las funcionalidades del proyecto.',
         icon: 'info',
         confirmButtonText: 'Entendido'
     });
 };

</script>
<script th:inline="javascript">
    $('#carousel-related-product').slick({
           infinite: true,
           arrows: false,
           slidesToShow: 4,
           slidesToScroll: 3,
           dots: true,
           responsive: [{
                   breakpoint: 1024,
                   settings: {
                       slidesToShow: 3,
                       slidesToScroll: 3
                   }
               },
               {
                   breakpoint: 600,
                   settings: {
                       slidesToShow: 2,
                       slidesToScroll: 3
                   }
               },
               {
                   breakpoint: 480,
                   settings: {
                       slidesToShow: 2,
                       slidesToScroll: 3
                   }
               }
           ]
       });
</script>
</body>
</html>